/Legends-The-Old-Republic/[Ll]ibrary/
/Legends-The-Old-Republic/[Tt]emp/
/Legends-The-Old-Republic/[Oo]bj/
/Legends-The-Old-Republic/[Bb]uild/
/Legends-The-Old-Republic/[Bb]uilds/
/Legends-The-Old-Republic/[Ll]ogs/

